body{
    background-color: black;
    color:#d77bba;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, "Courier New", monospace;
    font-size: 20px;
}
:root{
    margin:10px;
}

.mainpink{
    color:#d77bba;
    margin:5px;
    padding:0;
}
.mainpinkbutbigger{
    color:#d77bba;
    font-size:130%;
    margin:5px;
    padding-bottom: 0;
}
.mainpinkhead{
    color:#d77bba;
    font-size: 45px;
    margin:5px;
    text-align: center;
}
.hoverbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hoverbox .hoverbox-text {
    visibility: hidden;
    background-color: #000;
    color: #d77bba;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
    min-width: 180px;
    max-width: 600px;
    white-space: normal;
}
.hoverbox .hoverbox-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d77bba transparent transparent transparent;
}
.hoverbox:hover .hoverbox-text {
    visibility: visible;
    opacity: 1;
}
.links1{
    color: #d77bba;
}
.links1:visited{
    color: #a35d8d;
}
.links1:hover{
    color: #fd90db;
}
.links2 {
    color: #9a2db8;
}
.links2:visited{
    color: #9026b1
}
.links2:hover{
    color: #c938df;
}
#gifs {
    position: relative;
    margin: 0 0 44px;
}
#gifs img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
div{
    position: relative;
}
.img88x31{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    align-self: center;
}
.img88x31:hover{
    filter:brightness(1.1);
    border:1px solid #fff;
    margin:-1px;
}
main {
    position: relative;
    margin: 20px 50px 50px 50px;
    border:1px #ff91be solid;
    box-shadow: 0 0 4px 3px #d77bba;
    padding: 20px;
    box-sizing: border-box;
    z-index: 5;
    overflow: visible;
    transform: none;
    filter: none;
}
.indiv {
    position: relative;
    border: 2px solid #ff91be;
    box-shadow: 0 0 1px 1px #d77bba;
    padding: 12px;
    width: 80%;
    min-height: 60%;
    height: auto;
    margin: 30px 20px 20px 20px;
}
.wrap {
    max-width: 60%;
    margin: 0 auto;
    padding: 10px;
    z-index: 0;
}
.cornertext{
    position: absolute;
    top:-22px;
    left:10px;
    background-color:black;
    padding:5px;
    font-weight: bold;
    z-index:20;
}
.small {
    font-size: 12px;
}
#discord{
    cursor: pointer;
}
#email {
    cursor: pointer;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    filter:brightness(1.2);
}
@media only screen and (max-width: 1080px) {
    .wrap {
        max-width: 100%;
        margin: 0 auto;
    }
    main {
        margin: 0;
    }
    .cornertext{
        white-space: nowrap;
    }
    #email {
        word-wrap: break-word;
    }
    #gifs {
        margin: 44px;
        padding-bottom: 44px;
    }
}
